<h1 class="mgmt"><%= title %></h1>

<%- messages() %>

<div class="menu-list">
  <a href="/inv/add-classification">Add New Classification</a>
  <a href="/inv/add-inventory">Add New Inventory Item</a>
</div>
